.text{
  position:absolute;
  z-index:1;
  color: rgb(77, 10, 231);
  top: 2px;
  left: 12px;
}
.heart{
    margin-top: 2rem;
    background-color: red;
    width:36px;
    height: 36px;
    position:relative;
    transform: rotate(45deg);
}
.heart::before {
    left: -18px;
  }
  
.heart::after {
    top: -18px;
  }

.heart::before, .heart::after {
    content: "";
    width: 36px;
    height: 36px;
    background-color: rgb(240, 22, 22);
    position: absolute;
    border-radius: 50%;
  }
